# MongoDB Atlas Connection (Production)
# Replace with your MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio

# Local Development
# MONGO_URI=mongodb://localhost:27017/portfolio

PORT=5000
